.titulo{
	color: black;
	font-size:100px;
}


.contenedor-titulo{
	padding-top: 10px;
	padding-left: 40px;
	margin-bottom:8px;
	
}

.boton{
    background-color: black;
    border: none;
    color: white; 
    padding: 10px 30px;
    font-size: 16px;
    
}

.boton:hover{
    background-color: black;
    border: none;
    color: white;
    padding: 10px 30px;
    font-size: 16px;
}

.boton-registrar{
    background-color: rgb(95, 63, 61);
    border: none;
    color: black;
    padding: 10px 30px;
    font-size: 16px;
    width:167px;
}

.input-ingresar {
    border: 3px solid #555;
    width: 207px;
    height: 39px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    
}

.input{
	width: 207px;
    height: 39px;
    color:black;
}


.boton-margen-inferior{
	margin-top:10px;
}

.contenedor-login{
	
	border: 1px solid;
    position: absolute;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
    padding-top: 23px;
    margin-right: 200px;
	background-color: rgb(252,248,116);
}

.contenedor-buscar{
	
	border: 1px solid;
    position: absolute;
    padding-left: 80px;
    padding-right: 150px;
    padding-bottom: 20px;
    padding-top: 23px;
    margin-right: 200px;
	background-color: rgb(252,248,116);
}

.contenedor-egresar{
	
	border: 1px solid;
    position: absolute;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 20px;
    padding-top: 23px;
    margin-right: 200px;
	background-color: snow;
}

.contenedor-listaVehiculos{
	
	border: 1px solid;
    position: absolute;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 20px;
    padding-top: 23px;
    margin-right: 100px;
    margin-left: 50px;
	background-color: snow;
}

.registrate{
	
	    margin-top: 354px;
}


.link-registrate:link, .link-registrate:visited {
    background-color: rgb(95, 63, 61);
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.contenedor-link-registrate{
	    padding-left: 50px;
}

.contenedor-titulo{
	
    border-bottom: 1px solid slategrey;
    background-color: rgb(252,248,116);;
}


.tron{
      background-color: white;
      color: black;
      padding: 40px 20px 40px 70px;
      text-align: center;
      font-family:Helvetica;
      font-size: 49px;
  }
  
.btn{
	  background-color: black;
      color: white;
}
.imagen-logo{    
	width: 172px;
    height: 203px;
    float:left;
}

.imagen-grafico:hover{    
	width: 352x;
    height: 563px;
    float:center;
    display:none;
}
.imagen-ofertas{    
	width: 600px;
    height: 400px;
    float:left;
}
.imagen-logo:hover{    
	width: 172px;
    height: 203px;
    float:center;
    opacity:0.4;
}

.footer{
	    margin-top: 500px;
	    
}

.copyright{
	    margin-left: 400px;
}



/*.nav{
	padding-top:15px;
	background:rgb(252,248,116);;
}*/


.horizontal-menu {
  box-sizing: border-box; }
  .horizontal-menu__lista {
    padding: 0;
    margin: 1px 0px; }
  .horizontal-menu__item {
    display: inline;
    margin-right: 40px; }
    .horizontal-menu__item a {
      color: black; }
    .horizontal-menu__item a:hover {
      border-bottom: 1px solid #ffffff; }
      
      
.contenedor-registro{
	width:207px;
	margin:auto;
}

.footer-pagina {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: 20em;
}


.input-registro{
	
	margin-top:19px;
}


.texto-normal{
	
	font-size:large;
}

.oferta{
	
	margin-top:50px;
}




.input-select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-sumitt {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input[type=submit]:hover {
    background-color: #45a049;
}

.div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


/**************** calendar ************************/

.yui3-button {
    margin:10px 0px 10px 0px;
    color: #fff;
    background-color: #3476b7;
}

.yui3-skin-mine .yui3-calendar-header-label {
    text-align: center;
}
.yui3-skin-mine .yui3-calendar-header-label {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
}
.yui3-calendar-header-label {
    width: 100%;
}
/***************************************************************+*/

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
	width: 600px;
    height: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -300px;
    padding-left: 80px;
    padding-right: 80px; 
    padding-top: 23px;   
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
