<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>playadeacarreo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>/jsp/index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ControladorInicio</servlet-name>
    <servlet-class>com.dgcactysv.controladores.ControladorInicio</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControladorIngresar</servlet-name>
    <servlet-class>com.dgcactysv.controladores.ControladorIngresar</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControladorLogin</servlet-name>
    <servlet-class>com.dgcactysv.controladores.ControladorLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControladorBuscar</servlet-name>
    <servlet-class>com.dgcactysv.controladores.ControladorBuscar</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControladorCargar</servlet-name>
    <servlet-class>com.dgcactysv.controladores.ControladorCargar</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControladorListar</servlet-name>
    <servlet-class>com.dgcactysv.controladores.ControladorListar</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControladorListar2</servlet-name>
    <servlet-class>com.dgcactysv.controladores.ControladorListar2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControladorEgreso</servlet-name>
    <servlet-class>com.dgcactysv.controladores.ControladorEgreso</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>ControladorMostrar</servlet-name>
    	<servlet-class>com.dgcactysv.controladores.ControladorMostrar</servlet-class>
  </servlet>
  
    <servlet>
      <servlet-name>ControladorEstadistica</servlet-name>
    	<servlet-class>com.dgcactysv.controladores.ControladorEstadistica</servlet-class>
  </servlet>

  
 <servlet-mapping>	 
    <servlet-name>ControladorLogin</servlet-name>
    <url-pattern>/bienvenido</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControladorBuscar</servlet-name>
    <url-pattern>/buscar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControladorInicio</servlet-name>
    <url-pattern>/inicio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControladorIngresar</servlet-name>
    <url-pattern>/inicioo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControladorCargar</servlet-name>
    <url-pattern>/cargar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControladorEgreso</servlet-name>
    <url-pattern>/egreso</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControladorListar</servlet-name>
    <url-pattern>/listarVehiculos</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ControladorListar2</servlet-name>
    <url-pattern>/listarVehiculosPlaya</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ControladorMostrar</servlet-name>
    <url-pattern>/mostrarVehiculo</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ControladorEstadistica</servlet-name>
    <url-pattern>/verEstadisticas</url-pattern>
  </servlet-mapping>
  
  
</web-app>